.wrapper {
    padding-top:50px;
    padding-bottom:25px;
    width:50%;
    min-width:300px;
    margin:auto;
}

.spacer {
    margin-top: 20px;
}

.form-control {
	height:34px;
}

.panel-body button {
	float:right;
}

.panel-title {
	color:#555555;
}